* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body { height: 100vh; }
.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.external-controls {
  border-bottom: 3px solid #38f;
  display: flex;
  padding: 16px;
}

.years {
  margin-left: 16px;
}

#map {
  height: 100%;
  width: 100%;
}